#about-us-page .about-us-heading {
    color: #37383d;
    padding-bottom: 4em;
  }
  
  #about-us {
    background-color:#fff;
    padding: 2em 2em;
    color: #37383d;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 25px 0 rgba(152, 113, 32, .25);
            box-shadow: 3px 3px 25px 0 rgba(152, 113, 32, .25);
  }
  
  #our-team {
    padding-top: 5em;
  }
  
  #our-team .teams {
    padding: 2em 0 1em 0;
    color: #37383d;
  }
  
  #our-team .teams .teams-wrapper {
    display: -ms-grid;
    display: grid;
    gap: 1em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 2.5em;
  }
  
  #our-team .teams .teams-wrapper .teams-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: #37383d;
    padding: 0 .938em 1.5em .938em;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
  }
  
  #our-team .teams .teams-wrapper .teams-member:hover {
    color: #dea531;
  }
  
  #our-team .teams .teams-wrapper .teams-member:hover .member-inmage {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  
  #our-team .teams .teams-wrapper .teams-member .member-inmage {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2em;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  #our-team .teams .teams-wrapper .teams-member .member-inmage img {
    max-width: 100%;
    height: auto;
  }
  
  #our-team .teams .teams-wrapper .teams-member .about-member h5 {
    font-weight: bold;
  }
  
  .member-popups {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.97);
    border: 24px solid rgba(255, 255, 255, 0.97);
    padding: 1em;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    opacity: .7;
    visibility: hidden;
    overflow-y: auto;
    z-index: 999;
  }
  
  .member-popups .popups-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .member-popups .popups-container .close-members-popup {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    font-size: 2.8rem;
    color: orange;
    line-height: 1;
  }
  
  .member-popups .popups-container .member-about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .member-popups .popups-container .member-about-container .text-wrapper {
    width: calc(100% - 252px);
  }
  
  .member-popups .popups-container .member-about-container .text-wrapper .name {
    color: #6e6259;
    font-weight: 600;
  }
  
  .show-member-popup {
    visibility: visible;
    opacity: 1;
  }
  
  .member-popups .popups-container .member-about-container .text-wrapper .description {
    color: #37383d;
    font-weight: 600;
    margin-bottom: 1em;
  }
  
  .member-popups .popups-container .member-about-container .image-wrapper {
    margin-left: 2em;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  @media (max-width: 991.98px) {
    #our-team .teams .teams-wrapper .teams-member {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }
    #our-team .teams .teams-wrapper .teams-member .member-inmage {
      width: 120px;
      height: 120px;
      margin: 0;
      margin-bottom: 1em;
    }
  }
  
  @media (max-width: 767.98px) {
    .member-popups {
      border-width: 10px;
    }
    .member-popups .popups-container .close-members-popup {
      font-size: 2.2rem;
    }
    .member-popups .popups-container .member-about-container .text-wrapper .name {
      text-align: center;
    }
    .member-popups .popups-container .member-about-container .text-wrapper .description {
      text-align: center;
    }
    .member-popups .popups-container .member-about-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .member-popups .popups-container .member-about-container .image-wrapper {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 1.4em;
    }
    .member-popups .popups-container .member-about-container .text-wrapper {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 100%;
    }
  }
  
  @media (max-width: 575.98px) {
    #our-team .teams .teams-wrapper .teams-member .member-inmage {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 341.98px) {
    #our-team .teams .teams-wrapper .teams-member {
      padding: 0 .5em 1em .5em;
    }
  }
  .yellow-page {
    background:#f9efd8;
}