.hr-line {
  border-top: 2px solid #394d5c;
}

.condition-cards {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: (minmax(280px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  grid-auto-rows: auto;
  padding: 2em 0;
}

.condition-btn-lg {
  padding-left: 2em;
  padding-right: 2em;
}

.self-care-link {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.self-care-link:hover {
  color: #fff;
  text-decoration: underline;
}
.blue-page {
  background: linear-gradient(#9adbfd, #5cb4f7) !important;
}
@media (max-width: 440px) {
  .condition-btn-lg {
    padding-left: 0;
    padding-right: 0;
  }
  .condition-btn-lg .linear-btn {
    font-size: 1rem;
  }
}