#conditions-page{
    background: linear-gradient(#9adbfd, #5cb4f7);
    @include page-height;
  }
  
  .hr-line{
    border-top: 2px solid $dark;
  }
  
  .condition-cards{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    grid-auto-rows: auto;
    padding: 2em 0;
  }
  
  .condition-btn-lg{
    padding-left: 2em;
    padding-right: 2em;
    @media (max-width: 440px) {
      padding-left: 0;
      padding-right: 0;
      .linear-btn{
        font-size: 1rem;
      }
    }
  }
  
  .self-care-link{
    color: $white;
    transition: $link-transition;
    &:hover{
      color: $white;
      text-decoration: underline;
    }
  }