#confirm-page{
    background: #fff;
}
  
  
      .progress{
        width: 100%;
        animation: progressCompleted 3s;
      }
      .enroll-confirmation{
        animation: enrolled 3s;
      }
    
  
  .content-container{
    border: 1px solid #394d5c;
    padding: 1em .75em;
  }
    .texts-wrapper{
      width: 40%;
     
    }
      @media (max-width: 991.98px) {
        .texts-wrapper{
        width: 60%;
      }
      @media (max-width: 767.98px) {
        .texts-wrapper{
        width: 80%;
      }
      @media (max-width: 575.98px) {
        .texts-wrapper{
            width: 80%;
          
      margin: auto;
      color: #394d5c;
        }
      p{
        text-align: center;
      }
    }
    .link-text{
      text-align: center;
      color: #394d5c;
      
      margin-bottom: 0;
    }
      a{
        transition: all .3s ease;
      }
        .hover{
          color: #4ca9e0;
        }
      }
    }
  
  
  @keyframes progressCompleted {
    0%   { width: 80%; background-color: #9acf86;}
    100% { width: 100%; background-color: #43b14b; }
  }
  
  @keyframes enrolled {
    0%   { width: 66%; background-color: #9acf86;}
    100% { width: 100%; background-color: #43b14b; }
  }
  .texts-wrapper p{
    text-align: center;
  }
  .body{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  p {
    margin-top: 0;
    /* margin-bottom: 1rem; */
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: .4px;
}
