#email-confirm-page .progress-bar .progress {
  width: 80%;
  -webkit-animation: progressNinty 4s;
          animation: progressNinty 4s;
}

@media (max-width: 767.98px) {
  #email-confirm-page .main-content {
    padding-bottom: 2em;
  }
}

@-webkit-keyframes progressNinty {
  0% {
    width: 60%;
    background-color: #9acf86;
  }
  100% {
    width: 80%;
    background-color: #43b14b;
  }
}

@keyframes progressNinty {
  0% {
    width: 60%;
    background-color: #9acf86;
  }
  100% {
    width: 80%;
    background-color: #43b14b;
  }
}
.dark-white-page {
  background: #F3F3F3 !important;
}