.footer{
    padding: 2em 0 1em 0;
    background-color: #37383d;;
    margin-top: auto;
}
  
    .logo-container{
      max-width: 93px;
      height: auto;
      margin-bottom: -1.3em;
    }
      .logo{
        max-width: 40%;
        height: auto;
        margin-bottom: 1em;
        margin-left:10px
      }
      p{
        color:#C5C5C5;
      }
    
  
    .links-container{
      margin-bottom: 1em;
      color:#fff
      
      
    
    }
      .condition-links{
        width: 62%;
        margin: auto;
        padding-left: 1em;
       
      }
      .footer-links-list{
    
          margin-bottom: .5em;
          margin-left: 360px;
          color: transparent;
          padding:9px;
          margin-top:-20px;
          color:#fff;
       
          
         
      }
          a{
            display: block;
            color: gray;
            transition: link-transition;
            text-decoration-line: none;
          }
            h5{
              color: #fff;
              font-size: 1em;
            
            }
          

  
    .social-links{
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-align: start;
        align-items: flex-end;
        margin-bottom: 1em;
    }
      .social-links-list{
      
    display: block;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.2;
    margin-top:-4px;
    padding: 0px 4px;
    padding-left:10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
        
    
       
      }
    
      /* .facebook-square{
        height:25px;
        color: #fff;
        margin-top:-100px
        
       
      
      }
      .twitter-square{
        height:25px;
        color: #fff;
    
      }
      .instagram-square{
        height:25px;
        color: #fff;
     
      } */
      /* .first{
        margin-left:0px;
        margin-top:-300px;
  
        display: var(--fa-display,inline-block);
        
      }
      .second{
  
        margin-top:-14px;
        margin-left:0px
      }
      .third{
        margin-left:0px;
        margin-top:-15px
      } */
        li{
          margin-left: .4em;
        }
          a{
            display: block;
            font-size: 1.1rem;
            color: #CCCCCC;
            line-height: 1.2;
            padding: 0 4px;
            transition: all .3s ease;
          }
            .hover{
              color: white;
            }
  
    .copyrights{
      text-align: center;
      padding-top: 1em;
      color:white;
      border-top: 1px solid#c5c5c5;
      /* margin-top:200px */
      /* padding-top:300px */
      
     
     
    }
      p{
        font-size: .9rem;
        margin: 0;
      }
        .first-child{
          margin-bottom: .5em;
        }
        .additionl-resource a{
          color: #fff;
          font-size:.8rem;
          margin-left:10px;
        
          
          
        }
    
  
  @media (max-width: 991.98px) {
    .footer .links-container .condition-links{
      width: 100%;
      padding-left: 0;
      
      /* margin-left: -1em; */
    }
  }
  
  @media (max-width: 767.98px) {
  
      .logo-container .logo{
        width: 20%;
        
      }
  
      .links-container .condition-links{
        width: 100%;
        padding-left: 0;
        margin-left: 0;
      }
  
      .social-links{
        justify-content: flex-start;
        margin-top:100px
      }
        .social-links-list li{
  
          margin-right: .10em;
          padding-left:6px;
          justify-content: center;
      
          
    
          /* margin-top:-831px; */

         
        }
          .last-child{
            margin-right: 0;
          }
        }
      
  
      .copyrights p{
        font-size: .8rem;
        border: '2px solid rgba(0, 0, 0, 0.05)';
        
      }
      
     
  

  
  @media (max-width: 575.98px) {
    .footer .logo-container .logo{
      width: 30%;
    }
    .col-6 {
      flex: 0 0 auto !important;
      width: 80% !important;
    }
    .footer .social-links .social-links-list li {
      /* margin-left: -50px; */
      /* margin-right:10px; */
      margin-top:-30px;
      justify-content: flex-end;
      padding-left:10px
     

  }
}
  .footer .copyrights p {
    font-size: .9rem;
    margin: 0;
  }
  .footer .social-links .social-links-list li a {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.2;
  }
  .footer .social-links .social-links-list li {
    margin-left: -40px;
 

 
}
.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1em;
}
@media (min-width: 576px){
.col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
}

}


.svg-inline--fa {
  display: inline-block;
  display: var(--fa-display,inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
  color: inherit;
  color: var(--fa-color,inherit);
}
/* .svg-inline--fa.fa-w-14 {
  width: .875em;
} */

.footer .social-links .social-links-list {
  
  display: flex;
  justify-content: flex-end;
}
/* ul {
  margin: 1!important;
  padding: 0;
  list-style: none;
} */