#home-page{
  background-image: url("./../images/home.png");
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   min-height: 100vh;
  
  /* padding: 250px; */
  /* margin-top: -20px; */
  /* margin-left:-200px */


}

    .hero-texts-container{
      padding-top: 2em;
      padding-bottom: 2em;
      margin-left:-400px;
      margin-top:-100px
    }
      .hero-title{
        font-weight: 400;
        color:white;
        font-size: 3.5rem;
        margin-left: 405px;
        margin-top:10px;
        width: 100%;
      }
      .hero-text{
        font-size: 1.4rem;
        color:white;
        margin-left: 410px;
        width: 100%;
      }
      @media (max-width: 575.98px) {
        .hero-text{
          font-size: 1rem;
          color: white;
          margin-left: 410px;
          width: 100%;
          text-align: left;
        }

        .hero-title {
          font-weight: 400;
          color: white;
          font-size: 2.4rem;
          margin-left: 408px;
          width: 100%;
        }
      }
   
    .btns-container{
      padding-top: 3em;
      padding-bottom: 1em;
      cursor: pointer;

      
      /* margin-top:-25px; */
     
    
    }
 

      .list{
        /* display: flex; */
        /* flex-direction: column; */
        align-items: flex-start;
        margin-left:90px;
        
      }
    
        .links-list{
          background-color: transparent;
          display: inline-block;
          width: 280px;
          /* border: 2px solid #4ca9e0; */
          border-radius: 25px;
          padding: 3px;
          margin-bottom: .5em;
          border: 2px solid #4ca9e0;
               
        }
 
          @media (max-width: 374.98px) {
       
          
   
            }
           
          
    
          .links{
            display: block;
            padding: 2px 5px;
            background-color: #4ca9e0;
            border-radius: 20px;
            font-size: 1.2rem;
            color: #fff;
            text-decoration-line: none;
            
            
         
          padding-left: 24px;
          }
          @media (max-width:  575.98px ) {
      
          }
            
            .icon{
              color: #fedd64 !important;
              font-size: 1.4rem;
            
      
              padding-right:5px !important;
              box-sizing: border-box;
              
            
              
            }
            .iconalignment{
              height: 1.5em;
              width: .800em;
              -webkit-box-direction: normal;
              margin-left:-8px;
              box-sizing: border-box;
              
              /* padding-right:5px */

              /* padding-right:20px */

            }
            /* .links-list{
              background-color: transparent;
              display: inline-block;
              width: 280px;
              border: 2px solid #4ca9e0;
              border-radius: 25px;
              padding: 3px;
              margin-bottom: .5em;
            }
          */
            @media (max-width: 575.98px) {
      
            
                  .hero-texts-container .hero-text{
                    font-size: 1rem;
                  }
            
                  .btns-container .list .links-list .links{
                    font-size: 1rem;
                    padding: 3px 15px;
                    
                  }
                  
                    .icon{
                      font-size: 1.2rem;
                    }
                    .btns-container {
                      /* padding-top: 15em; */
                      padding-bottom: 1em;
                      margin-left: 2px;
                      
                   
                      
                  }
                  }
            
         
            @media (max-width: 374.98px) {
                    .list .links-list{
                      width: 100%;
                    }
                      .btns-container {
                        padding-top: 15em;
                        padding-bottom: 1em;
                        margin-left: 40px;
                     
                       
                    }
          
                    
                    }
                  
                  @media (max-width: 767.98px){
                  .list .links-list{
                    width: 80%;
   
                    
                  }
                  .btns-container .list .links-list .links{
                    font-size: 1rem;
                    padding: 3px 15px;
                    
                  }
                }
                .btns-container .list .links-list .links:hover {
                  padding-left: 40px;
              }
            
              .btns-container .list .links-list .links {
                display: block;
                padding: 1px 25px;
                background-color: #4ca9e0;
                 border-radius: 20px; 
                font-size: 1.2rem;
                color: #fff;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }