#individual-page{
    background-image: url("./../images/wellness-individual.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}
    .return-link-container .return-link:hover{
      color: black
    }
  

          .hero-title{
            font-weight: 400;
            margin-left:540px;
            padding-top:90px
            
            /* margin-top:100px */
            
          }
          .hero-text{
            font-size: 1.4rem;
            margin-left:540px;
          }
        .linear-btn{
            margin-left:550px;
        }
  
        .checkbox-container{
          padding-top: 2em;
        }
          .checkbox-lists{
            width: 100%;
            margin-bottom: 2em;
            margin-left:490px;
            color:white
          }
  
            .checkbox-links{
              display: flex;
              align-items: center;
              position: relative;
              background: linear-color;
              opacity: .8;
              border-radius: 30px;
              padding: 4px 12px;
              margin-bottom: .5em;
              cursor: pointer;
              overflow-x: hidden;
            }
  
              .check-box{
                position: absolute;
                left: 20px;
                top: 0;
                display: block;
                width: calc(100% - 20px);
                height: 38px;
                opacity: 0;
                cursor: pointer;
              }
            
                  .custom-checkbox{
                    background: linear-color;
                  }
                
              .custom-checkbox{
                display: block;
                width: 1.3em;
                height: 1.3em;
                border-radius: 50%;
                background: white;
                margin-right: .5em;
              }
  
              p{
                margin: 0;
                align-items: center;
                /* margin-left:400px */
              }
              .skip{
                  margin-left:550px;
                  color:white
              }
  
              .check-box:checked + .custom-checkbox{
                  background: linear-color;
                  box-shadow: 2px 2px 2px 0px rgba(95, 194, 219, 0.719);
                }
  
          p{
            font-size: 1.25rem;
          }
            span a{
              color: white;
              text-decoration: underline;
            }
          
  
  
  @media (max-width: 575.98px) {

        
          .hero-text{
            font-size: 1.2rem;
          }
        
          .checkbox-lists .checkbox-links p{
            font-size: 1.2rem;
          }
          p{
            font-size: 1.2rem;
          }
        }
  
    
  