#resources-page {
  color: #394d5c;
}

.resource-container h2 {
  font-weight: 500;
  color: #37383d;;
}

.resource-container .blue-text {
  color: #37383d;;
  font-size: 1.25rem;
}

.resource-container .resource-content {
  margin-top: 2em;
  margin-bottom: 3em;
}

.resource-container .resource-content h4 {
  color: #37383d;;
  font-size: 1.8rem;
}

.resource-container .resource-content p {
  font-size: 1.125rem;
  margin: 0;
}

.resource-container .resource-content p .underline-link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.resource-container .resource-content p .underline-link:hover {
  color:#4ca9e0;
}

.resource-container .resource-content .resource-links-list {
  padding: 0 1em;
  margin: 1em;
}

.resource-container .resource-content .resource-links-list li {
  list-style-type: disc;
}

.resource-container .resource-content .resource-links-list li a {
  font-size: 1.25rem;
  word-break: break-all;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.resource-container .resource-content .resource-links-list li a:hover {
  color: #4ca9e0;
}

@media (max-width: 575.98px) {
  .resource-container .resource-content p {
    font-size: 1rem;
  }
  .resource-container .resource-content .resource-links-list li a {
    font-size: 1rem;
  }
}