.selfcare-links-wrapper {
  padding-top: 2em;
}

.selfcare-links-wrapper .links-container {
  display: -we  kit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  border-top: 1px solid #37383d;
}

.selfcare-links-wrapper .links-container .links-list {
  margin: 0 1em;
  width: 100%;
}

.selfcare-links-wrapper .links-container .links-list .links {
  display: block;
  background-color: #43b14b;
  border: 1.5px solid transparent;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
  padding: .4em 1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selfcare-links-wrapper .links-container .links-list .links:hover {
  color: #43b14b;
  border-color: #43b14b;
  background-color: transparent;
}

.selfcare-links-wrapper .link-wrapper {
  padding-top: 2em;
}

.selfcare-links-wrapper .link-wrapper h5 {
  color: #37383d;
}

.selfcare-links-wrapper .link-wrapper span a {
  color:#37383d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selfcare-links-wrapper .link-wrapper span a:hover {
  color: #4ca9e0;
}

@media (max-width: 767.98px) {
  .selfcare-links-wrapper .links-container {
    padding: 1em 0;
  }
  .selfcare-links-wrapper .links-container .links-list {
    margin: 0 .5em;
  }
  .selfcare-links-wrapper .links-container .links-list .links {
    font-size: 1.2rem;
    padding: .3em .5em;
  }
}

@media (max-width: 575.98px) {
  .selfcare-links-wrapper .links-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em 3em;
  }
  .selfcare-links-wrapper .links-container .links-list {
    margin: 0;
  }
  .selfcare-links-wrapper .links-container .links-list:nth-child(2) {
    margin: 1em 0;
  }
}
.dark-white-page {
  background: #f3f3f3 !important;
}
.selfcare-links-wrapper .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em !important;
  border-top: 1px solid #37383d;
}
ul {
  margin: 0 ;
  padding: 0;
  list-style: none;
}